body{
    font-size: 22px;
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.5;
    background: papayawhip;
    color: darkblue;
}
h1{
    color: #525f05;
    font-size: 32px;
    border: 2px solid red;
}